body{
  background-color: rgb(7, 179, 64);
  color: rgb(16, 66, 158);
}

section{
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display:flex;
  justify-content: center;
}

  .chamada-texto{
    margin-right: 100px;
}
